name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    unit-test:
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run: git submodule update --init --recursive
          - name: Run unit test
            run: ./unit-test.sh
            
    full-test:
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run: git submodule update --init --recursive
          - name: Set up environment
            run: |
              # Clean any previous test artifacts
              rm -rf /tmp/aesd-autograder
              
              # Ensure scripts are executable
              chmod +x full-test.sh
              chmod +x finder-app/*.sh
              
          - name: Run full test
            run: ./full-test.sh
